---
# site.yml for {{ role_name }}

- name: Project {{ role_name }}
  hosts: all
  gather_facts: no

  tasks:
  - name: Wait for connection
    wait_for_connection:
      sleep: 5
      connect_timeout: 5
      timeout: 600
      delay: 60

  - name: Gather Facts
    setup:

  # Join Active Directory
  - name: some role
    include_role:
      name: some role
      apply:
        tags:
          - some tag
    vars:
      # add variables if needed else delete entire section
    tags:
      - always